<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://code9net2016web.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>code9net2016web.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Code9net2016Web</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Code9net2016Web</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Restourant" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:l39bsr4sfc.database.windows.net,1433;Initial Catalog=Code9Restaurant;User ID=Code9user@l39bsr4sfc;Password=Code9ZRpass;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:l39bsr4sfc.database.windows.net,1433;Database=Code9Restaurant;User ID=Code9user@l39bsr4sfc;Password=Code9ZRpass;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Code9.net._2016.data.RestourantContext, Code9.net.2016.data" MigrationConfiguration="Code9.net._2016.data.Migrations.Configuration, Code9.net.2016.data" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Restourant-Web.config Connection String">
      <ParameterValue>Server=tcp:l39bsr4sfc.database.windows.net,1433;Database=Code9Restaurant;User ID=Code9user@l39bsr4sfc;Password=Code9ZRpass;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>